.HomePageWrapper {
  width: 100%;
  padding-top: 260px;
  padding-left: 64px;
  padding-bottom: 260px;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/Hero-Picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  font-size: 48px;
  font-weight: 600;
  width: 571px;
  color:#fff;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  font-weight: 600;
  width: 550px;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.btn{
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  width: 173px;
  height: 56px;
  border-radius: 200px;
  color: #fff;
  background-color: #E44848;
}